
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
     
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("/Areas/Writer/Views/Default/SidebarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
          @RenderBody()
          </div>
                @await Html.PartialAsync("/Areas/Writer/Views/Default/FooterPartial.cshtml")
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
 </div>
    <!-- plugins:js -->
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    @await Html.PartialAsync("/Areas/Writer/Views/Default/ScriptsPartial.cshtml")
</body>

</html>

