<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="ti-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/Inbox/">
                <i class="ti-comment menu-icon"></i>
                <span class="menu-title"> Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/Sentbox/">
                <i class="ti-comments menu-icon"></i>
                <span class="menu-title"> Gönderilen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/AddMessage/">
                <i class="ti-plus menu-icon"></i>
                <span class="menu-title"> Yeni Mesaj</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link"  href="/Writer/Default/Index/">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Duyurular</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/" >
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profil</span>

            </a>

        </li>





        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="icon-cog menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/Logout/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="ti-desktop menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Admin Paneli</span>
            </a>
        </li>
    </ul>
</nav>