@model Core_Project.Areas.Writer.Models.UserRegisterViewModel
@{
    Layout = null;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash//vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/skydash/images/logo.svg" alt="logo">
                            </div>
                            <h4>Hesabınız yok mu?</h4>
                            <h6 class="font-weight-light">Kayıt olmak çok kolay, Sadece bir dakikanızı alacak.</h6>
                            <form class="pt-3" method="post">
                                <div class="form-group">
                                    <span asp-validation-for="Name" style="color:red"></span>
                                    <input type="text" asp-for="Name"  class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Adınız" />
                                    <span asp-validation-for="Name" style="color:red"></span>
                                </div>

                                <div class="form-group">
                                    <input type="text" asp-for="Surname" asp-validation-for="Surname" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Soyadınız" />
                                    <span asp-validation-for="Surname" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="ImageURL" asp-validation-for="ImageURL" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Görsel URL" />
                                    <span asp-validation-for="ImageURL" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="Username" asp-validation-for="Username" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Kullanıcı Adı" />
                                    <span asp-validation-for="Username" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <input type="email" asp-for="Mail" asp-validation-for="Mail" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" />
                                    <span asp-validation-for="Mail" style="color:red"></span>
                                </div>
                                
                                <div class="form-group">
                                    <input type="password" asp-for="Password" asp-validation-for="Password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifreniz" />
                                    <span asp-validation-for="Password" style="color:red"></span>
                                </div>
                                 <div class="form-group">
                                    <input type="password" asp-for="ConfirmPassword" asp-validation-for="ConfirmPassword" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifre Tekrar" />
                                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            Tüm kullanıcı şartlarını kabul ediyorum.
                                        </label>
                                    </div>
                                </div>
                                <div style="color:red" asp-validation-summary="ModelOnly">

                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Kayıt Ol</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Zaten bir hesabınız var mı? <a href="login.html" class="text-primary">Giriş Yap</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
  
    <!-- endinject -->
</body>