@using EntityLayer.Concrete;
@model WriterMessage
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h4 class="card-title">Mesaj Detayları</h4>

<div>
    <input type="hidden" asp-for="WriterMessageID" />
    <label>Gönderen Adı</label>
    @Html.TextBoxFor(x=>x.SenderName, new {@class="form-control"})
    <br />
    <label>Gönderen Mail</label>
    @Html.TextBoxFor(x=>x.Sender, new {@class="form-control"})
    <br />
    <label>Mesaj İçeriği</label>
    @Html.TextAreaFor(x=>x.Content,8,1, new {@class="form-control"})
</div>



